body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0,0,0,.15);
}

.btn {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.blue {
  background: #1e66ff;
}

.green {
  background: #198754;
}

.dark {
  background: #212529;
}
